<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <h3>Fazer Perguntas</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/salvarpergunta">
                            <label>Titulo</label>
                            <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                            <label>Descricao</label>
                            <textarea placeholder="Descreva a sua pergunta aqui" class="form-control" name="descricao"></textarea>
                            <button class="btn btn-primary btn-perguntar">perguntar</button>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer.ejs')%>

    </body>

    </html>